{% load static %}
<div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <!-- <p class="mb-4"><img src="images/mylogo.jpeg" alt="Image" class="img-fluid"></p> -->
        </div>
        <!-- <!-- <div class="col-lg-3"> -->
        <!-- <h3 class="footer-heading"><span>Our Company</span></h3>  -->
        <pre>
              부천시 원미구 송내대로 388 테크노파크 2단지 201동 906-1호 14502 
              T. 032-325-6920 
              F. 032-325-6921 e-mail:ksrnd@ksrnd.com
              COPYRIGHT© 2012 KSRND LIMITED ALL RIGHT RESERVED.
            </pre>
        <!-- </div> -->
      </div>
    </div>
  </div>
  <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
    <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
    <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
      stroke="#ff5e15" /></svg></div>