{% load static %}
<div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body">
      <ul class="site-nav-wrap">
    </div>
  </div>
  <div class="header-top bg-light">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-6 col-lg-3">
        </div>
        <div class="col-6 d-block d-lg-none text-right">
          <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black"><span
              class="icon-menu h3"></span></a>
        </div>
      </div>
    </div>
    <div class="site-navbar py-2 js-sticky-header site-navbar-target d-none pl-0 d-lg-block" role="banner">

      <div class="container">
        <div class="d-flex align-items-center">
          <a href="/">
            <img src="{% static 'images/mylogo.jpeg' %}" alt="Image" class="img-fluid">
          </a>
          <div class="mr-auto">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu main-menu js-clone-nav mr-auto d-none pl-0 d-lg-block">
                <li class="has-children">
                  <a class="nav-link text-left">회사소개</a>
                  <ul class="dropdown">
                    <li><a href="/">인사말</a></li>
                    <li><a href="/">연혁</a></li>
                    <li><a href="/">개발실적</a></li>
                    <li><a href="/">조직도</a></li>
                    <li><a href="/">위치안내</a></li>
                  </ul>
                </li>
                <li class="has-children">
                  <a class="nav-link text-left">제품소개</a>
                  <ul class="dropdown">
                    <li><a href="/works/전조등">전조등 측정기</a></li>
                    <li><a href="/works/RPM">RPM 측정기</a></li>
                    <li><a href="/works/광투과매연">광투과매연 측정기</a></li>
                    <li><a href="/works/센서">센서</a></li>
                    <li><a href="/works/패키지">패키지</a></li>
                    <li><a href="/works/전기화학실험용">전기화학 실험용</a></li>
                  </ul>
                </li>
                <li class="has-children">
                  <a class="nav-link text-left">연구개발</a>
                  <ul class="dropdown">
                    <li><a href="">전조등시험기</a></li>
                    <li><a href="">신호 분석 처리 기술</a></li>
                  </ul>
                <li class="has-children">
                  <a class="nav-link text-left">새소식</a>
                  <ul class="dropdown">
                    <li><a href="">ABC</a></li>
                    <li><a href="">EFG</a></li>
                  </ul>
                </li>
                <li class="has-children">
                  <a class="nav-link text-left">고객지원</a>
                  <ul class="dropdown">
                    <li><a href="">질문과 답변</a></li>
                    <li><a href="">A/S 안내</a></li>
                    <li><a href="">자료실</a></li>
                  </ul>
                </li>
              </ul>
            </nav>

          </div>

        </div>
      </div>

    </div>

  </div>